<?xml version="1.0" encoding="utf-8" ?>
<appSettings>	
	<add key="adminlognetfile" value="log4net.admin.config" />
	<add key="hydadminsite" value="hydadmin" />
	<add key="hydassgnsite" value="hydassgn" />
	<add key="lognetsite" value="excelgen" />
	<add key="hydbfasite" value="hydwalkwaysbfa"/>
	<add key="engSUList" value="E/G(U1),E/G(U2),E/SD-1,E/SD-2" />
	<add key="engSTList" value="E/G(NT1),E/G(NT2),PC/S3-2,E/SD-3" />
	<add key="statStart" value="01-01-2021"/>
	<add key="dbconn" value="DFAHYDEntities"/>

	<add key="exportfile" value="D:\bfa_share\export.xlsx" />
	<add key ="docspath" value="D:\bfa_share\Docs\"/>
	<add key="exportoutputpath" value="D:\bfa_share\output\"/>
	<add key="browsepath" value="~/App_Data"/>
	<add key="uploadpath" value="~/App_Data/Upload" />
	<add key="streampath" value="~/api/streaming/file"/>
	<add key="sharepath" value="D:\bfa_share\"/>

	<add key="filenamelimit" value="140"/>
	<add key="rmapnotehtratio" value="12"/>

	<add key="testfile" value="sample.xlsx"/>
	<!--<add key="schedulecron" value="0 0/1 * 1/1 * ? *" />-->
	<add key="schedulecron" value="*/15 * * * * *"/>
	<add key="mode" value="excelgen"/>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
