<?xml version="1.0" encoding="utf-8" ?>
<appSettings>	
	<add key="adminlognetfile" value="log4net.admin.config" />
	<add key="hydadminsite" value="hydadmin" />
	<add key="hydassgnsite" value="hydassgn" />
	<add key="lognetsite" value="excelgen" />
	<add key="HYDtmnsite" value="hydwalkwayspds"/>
	<add key="engSUList" value="E/G(U1),E/G(U2),E/SD-1,E/SD-2" />
	<add key="engSTList" value="E/G(NT1),E/G(NT2),PC/S3-2,E/SD-3" />
	<add key="statStart" value="01-01-2021"/>
	<add key="dbconn" value="HYDtmnEntities"/>

	
	<add key="dbmeta" value="res://*/HYDtmnModel.csdl|res://*/HYDtmnModel.ssdl|res://*/HYDtmnModel.msl"/>
	<add key="dbprovider" value="System.Data.SqlClient"/>
	<add key="dbuser" value="stds"/>
	<add key="dbpwd" value="dfB/n1axot7v2dxzW+mZRg=="/>
	<add key="dbcatalog" value="EWBPBRSHYD"/>
	<add key="dbsource" value="(local)"/>

	<add key="exportfile" value="D:\Sources\PDRData\template\export.xlsx" />
	<add key="exportoutputpath" value="D:\Sources\PDRData\cmdoutput\"/>
	<add key="cmdpath" value="D:\Sources\PDRData\cmd\"/>
	<add key="browsepath" value="~/App_Data"/>
	<add key="docspath" value="D:\Sources\PDRData\upload\docs"/>
	<add key="uploadpath" value="~/App_Data/Upload" />
	<add key="streampath" value="~/api/streaming/file"/>
	<add key="sharepath" value="D:\Sources\PDRData\upload\share"/>

	<add key="filenamelimit" value="140"/>
	<add key="rmapnotehtratio" value="12"/>

	<add key="testfile" value="sample.xlsx"/>
	<!--<add key="schedulecron" value="0 0/1 * 1/1 * ? *" />-->
	<add key="schedulecron" value="*/15 * * * * *"/>
	<add key="mode" value="excelgen"/>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
