<?xml version="1.0"?>
<configuration>
  <log4net>
    <!--<appender name="ErrorLogRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="C:\STDS%property{LogSite}\batchlog\error\errorlog_%date{yyyyMMdd}.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="30" />
      <maximumFileSize value="5MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%newline%date|%-5level|[%-2thread]|%class|%method|%message%newline" />

      </layout>
    </appender>-->
    <appender name="ErrorLogRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs/error" />
      <encoding value="utf-8" />
      <staticLogFileName value="false"/>
      <immediateFlush>true</immediateFlush>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value=".yyyyMMdd.lo\g"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fffzzz}][%-2thread] (%property{LogSite}@%property{log4net:HostName}) %message%newline" />
        <!--<conversionPattern value="%date|%-5level|[%-2thread]|%method|%message%newline" />-->

      </layout>
    </appender>

    <appender name="MiscLogRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs/misc" />
      <staticLogFileName value="false"/>
      <encoding value="utf-8" />
      <immediateFlush>true</immediateFlush>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value=".yyyyMMdd.lo\g"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{yyyy-MM-dd HH:mm:ss.fffzzz}][%-2thread] (%property{LogSite}@%property{log4net:HostName}) %message%newline" />

        <!--<conversionPattern value="%date|%-5level|[%-2thread]|%method|%message%newline" />-->
      </layout>
    </appender>
    <appender name="StdbLogRollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="Logs/stdb" />
      <staticLogFileName value="false"/>
      <encoding value="utf-8" />
      <immediateFlush>true</immediateFlush>
      <appendToFile value="true"/>
      <rollingStyle value="Date"/>
      <datePattern value=".yyyyMMdd.lo\g"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="[%d{{yyyy-MM-dd HH:mm:ss.fffzzz}][%-2thread] (%property{LogSite}@%property{log4net:HostName}) %message%newline" />

        <!--<conversionPattern value="%date|%-5level|[%-2thread]|%method|%message%newline" />-->
      </layout>
    </appender>

    <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
      <applicationName value="HYDwep" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date|%-5level|[%-2thread]|%class|%method|%message%newline" />
      </layout>
    </appender>

    <appender name="ConsoleAppender" type="log4net.Appender.ColoredConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date|%-5level|[%-2thread]|%message%newline" />
      </layout>
      <mapping>
        <level value="INFO" />
        <foreColor value="Green, HighIntensity" />
      </mapping>
      <mapping>
        <level value="DEBUG" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="WARN" />
        <foreColor value="Yellow, HighIntensity" />
      </mapping>
      <mapping>
        <level value="ERROR" />
        <foreColor value="Red, HighIntensity" />
      </mapping>
    </appender>
    <root>
    </root>


    <!-- Error Logging -->
    <logger name="error">
      <level value="ERROR" />
      <appender-ref ref="ErrorLogRollingFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </logger>

    <!-- Misc Logging -->
    <logger name="misc">
      <level value="INFO" />
      <appender-ref ref="MiscLogRollingFileAppender" />
      <appender-ref ref="ConsoleAppender" />
    </logger>
    <logger name="stdb">
      <level value="INFO" />
      <appender-ref ref="StdbLogRollingFileAppender" />
    </logger>



  </log4net>

</configuration>
