<?xml version="1.0" encoding="utf-8" ?>
<appSettings>	
	<add key="adminlognetfile" value="log4net.admin.config" />
	<add key="hydadminsite" value="hydadmin" />
	<add key="hydassgnsite" value="hydassgn" />
	<add key="lognetsite" value="excelgen" />
	<add key="HYDrmbsite" value="hydwalkwayspds"/>
	<add key="engSUList" value="E/G(U1),E/G(U2),E/SD-1,E/SD-2" />
	<add key="engSTList" value="E/G(NT1),E/G(NT2),PC/S3-2,E/SD-3" />
	<add key="statStart" value="01-01-2021"/>
	<add key="dbconn" value="HYDrmbEntities"/>
	<add key="dbmeta" value="res://*/HYDrmbModel.csdl|res://*/HYDrmbModel.ssdl|res://*/HYDrmbModel.msl"/>
	<add key="dbprovider" value="System.Data.SqlClient"/>
	<add key="dbuser" value="stds"/>
	<add key="dbpwd" value="dfB/n1axot7v2dxzW+mZRg=="/>
	<add key="dbcatalog" value="EWBRMBSHYD"/>
	<add key="dbsource" value="10.23.231.12"/>	

	<add key="exportfile" value="H:\template\export.xlsx" />
	<add key="exportoutputpath" value="H:\cmdoutput\"/>
	<add key="cmdpath" value="H:\cmd\"/>
	<add key="browsepath" value="~/App_Data"/>
	<add key="docspath" value="H:\upload\docs"/>
	<add key="uploadpath" value="~/App_Data/Upload" />
	<add key="streampath" value="~/api/streaming/file"/>
	<add key="sharepath" value="H:\upload\share"/>


	<add key="filenamelimit" value="140"/>
	<add key ="timestampflag" value="1"/>
	<add key="rmapnotehtratio" value="12"/>

	<add key="testfile" value="sample.xlsx"/>
	<!--<add key="schedulecron" value="0 0/1 * 1/1 * ? *" />-->
	<add key="schedulecron" value="*/15 * * * * *"/>
	<add key="mode" value="excelgen"/>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
