@model string
<div class="infinite-container" urlis="@Url.Content("~"+Model)">
    <div class="thumb-view">

    </div>
    <div class="infinite-loader">
        <div></div>
        <div></div>
        <div></div>
    </div>
</div>

