.inset.larger, inset-white.larger {
    width: 200px;
}

.inset [include*="form-input-select(down)"] select {
    border: 3px solid #cec081;
    margin-right: 20px;
    color: black;
}

.inset {
    margin-right: 20px;
}

.inset-white [include*="form-input-select(down)"] select {
    border: 3px solid #e69ff8;
    margin-right: 20px;
    color: white;
}

    .inset-white [include*="form-input-select(down)"] select option {
        background-color: rgb(148, 91, 148);
    }




.inset-white {
    margin-right: 20px;
}

[include*="form-input-select(down)"] {
    display: block;
    padding: 0;
    position: relative;
    /* Set options to normal weight */
    /* ------------------------------------  */
    /* START OF UGLY BROWSER-SPECIFIC HACKS */
    /* ----------------------------------  */
    /* FIREFOX won't let us hide the native select arrow, so we have to make it wider than needed and clip it via overflow on the parent container.
       The percentage width is a fallback since FF 4+ supports calc() so we can just add a fixed amount of extra width to push the native arrow out of view. We're applying this hack across all FF versions because all the previous hacks were too fragile and complex.
       You might want to consider not using this hack and using the native select arrow in FF. Note this makes the menus wider than the select button because they display at the specified width and aren't clipped. Targeting hack via http://browserhacks.com/#hack-758bff81c5c32351b02e10480b5ed48e */
    /* Show only the native arrow */
    color: #005BA6;
    border-radius: 0;
    box-shadow: none;
    font-size: 16px;
    margin-top: 9px;
    margin-bottom: 15px;
    width: 100%;
}

     [include*="form-input-select(down)"]::after {
        content: "";
        display: block;
        position: absolute;
        pointer-events: none;
        z-index: 2;
    }

    [include*="form-input-select(down)"] select {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        background: none;
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        border: 1px solid transparent;
        font-size: 16px;
        outline: none;
        max-width: 100%;
        /* Focus style */
    }

        [include*="form-input-select(down)"] select:focus {
            background-color: transparent;
            outline: none;
        }

    [include*="form-input-select(down)"] option {
        font-weight: normal;
    }

    [include*="form-input-select(down)"] x:-o-prefocus, [include*="form-input-select(down)"]::after {
        display: none;
    }

@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
    [include*="form-input-select(down)"] select::-ms-expand {
        display: none;
    }

    [include*="form-input-select(down)"] select:focus::-ms-value {
        background: transparent;
        color: #000;
    }
}

@-moz-document url-prefix() {
    [include*="form-input-select(down)"] {
        overflow: hidden;
    }

        [include*="form-input-select(down)"] select {
            width: 120%;
            width: calc(100% + 3em);
            /* Firefox focus has odd artifacts around the text, this kills that. See https://developer.mozilla.org/en-US/docs/Web/CSS/:-moz-focusring */
        }

    @supports (-moz-appearance: none) {
        [include*="form-input-select(down)"] select {
            width: 100%;
        }
    }

    [include*="form-input-select(down)"] select:-moz-focusring {
        color: transparent;
        text-shadow: 0 0 0 #000;
    }
}

@supports (-moz-appearance: none) {
    [include*="form-input-select(down)"] {
        width: 100%;
    }
}

 [include*="form-input-select(down)"]::after {
    content: "";
    display: block;
    position: absolute;
    pointer-events: none;
    border: 1px solid transparent;
    width: 0;
    height: 0;
    right: 16px;
}



[include*="form-input-select(down)"]::after {
    border-width: 8px 6.5px 0 6.5px;
    border-top-color: #D6D6D6;
    top: 35%;
    right: 5%;
}

@-moz-document url-prefix() {
    [include*="form-input-select(down)"] {
        border-right: 3px solid #E6E6E6;
    }

        [include*="form-input-select(down)"]:hover {
            border-right: 3px solid var(--mdc-theme-primary,#6200ee);
        }
}

[include*="form-input-select(down)"]:hover select {
    box-shadow: 0 2px 3px rgba(0, 91, 166, 0.1) inset;
    border-color: var(--mdc-theme-primary,#6200ee);
}

    [include*="form-input-select(down)"]:hover select:focus {
        outline-color: transparent;
    }



[include*="form-input-select(down)"]:hover::after {
    border-top-color: #005BA6;
}

[include*="form-input-select(down)"] select {
    border: 3px solid #E6E6E6;
    border-radius: 0;
    font-weight: 400;
    color: inherit;
    padding: 11px 15px;
    line-height: normal;
    transition: border-color 0.2s ease, outline 0.2s ease;
}

    [include*="form-input-select(down)"] select:focus {
        box-shadow: 0 3px 4px rgba(61, 0, 166, 0.3) inset;
        outline: 3px solid #005BA6;
        outline-offset: -3px;
    }

    [include*="form-input-select(down)"] select[disabled], [include*="form-input-select(down)"] select:disabled {
        opacity: 0.8;
        color: black;
        cursor: not-allowed;
    }

    [include*="form-input-select(down)"] select:not(:focus):invalid {
        color: var(--mdc-theme-error, #b00020);
    }

label.theme-select-wrapper {
    width: 100%;
}

    label.theme-select-wrapper span {
        position: absolute;
        top: -1.5rem;
        font-size: 1.2rem;
    }
